.header__image {
  max-width: 142px;
}

@media screen and (max-width: 956px) {
  .header__image {
    margin-left: 27px;
  }
}

@media screen and (max-width: 580px) {
  .header__image {
    max-width: 103.74px;
  }
}