.page {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #000;
}


/* Оберег от нечестивого кода */

/*div, h1, h2, h3, h4, p, a, ul, li, img, section, header, footer, nav {
  outline: 1px solid #d00;
}

main {
  outline: 1px dashed #0d0;
}*/