.header {
  width: 100%;
  max-width: 880px;
  min-height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 934px) {
  .header {
    max-width: calc(100% - (27px * 2));
    min-height: 56px;
    padding-top: 28px;
  }
}
