.profile__add-button {
  min-width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  box-sizing: border-box;
  background-image: url('./image/plus.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: center;
  margin-left: auto;
  transition: opacity 0.2s;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 550px) {
  .profile__add-button {
    margin: 36px 0 0;
    min-width: 282px;
  }
}