.elements {
  margin: 50px auto 0;
  max-width: 880px;
}

@media screen and (max-width: 890px) {
  .elements {
    max-width: 581px;
  }
}

@media screen and (max-width: 585px) {
  .elements {
    max-width: 282px;
  }
}