.profile__feature {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .profile__feature {
    font-size: 14px;
  }
}