.popup__edit-profile {
  min-width: 430px;
  min-height: 330px;
  margin-top: 195px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .popup__edit-profile {
    min-width: 282px;
    min-height: 322px;
    margin-top: 123px;
  }
}