.popup__save-button {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: 0;
  background-color: #000;
  margin: 48px 0 37px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.1s;
}

.popup__save-button:focus {
  outline: none;
}

.popup__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .popup__save-button {
    margin: 45px 0 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}