.profile__info {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  grid-auto-flow: column;
  gap: 16px 18px;
}