.button {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity .2s;
}

.button:focus {
  outline: none;
}

.button:hover {
  opacity: .6;
}